#ads_container{
    width: 60%;
    height: 60%
    margin: 0 auto;
    margin-bottom: 2%
}

@media screen and (max-width: 600px) {
    #ads_container{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2%
    }
}
